@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rowdies:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 0;
	margin: 0;
}

#burgerSpline {
	width: fit-content !important;
	height: fit-content !important;
	z-index: -1;
}
